


.divSpace {
  height: 22vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHold {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}

.mainHold::-webkit-scrollbar{
  display: hidden;
}

/* old stuff below

/* App.css */
.sponsor-container {
  display: flex;
  flex-direction: column; /* Align children (sponsor groups) vertically */
  justify-content: center;
  gap: 15vh;
  align-items: center;
  margin-bottom: 80px;
  height: auto; /* Full height of the viewport */
}

.sponsor-container::-webkit-scrollbar {
  display: none; /* Hides for Chrome, Safari, and Opera */
}


/* all containers for each spawn area or tier*/
.Plat,
.Gold,
.Silver,
.Bronze{
  display: flex;
  flex-flow: row wrap; /* Makes the row wrap for the logos*/
  justify-content: center;
  align-items: center;
  width: 75vw;
  max-height: fit-content;
  gap: 150px; /* Space between images */
}

.title {
  flex-direction: column;
  height: fit-content;
  max-width: 75vw;
}

.spawnArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75vw;
  height: auto;
}


.imagePlatinum {
  max-width: 650px; /* Adjust the size as needed */
  height: auto;
}

.imageGold {
  display: inline-block;
  max-width: 500px; /* Adjust the size as needed */
  height: auto;
}

.imageSilver {
  display: flex;
  max-width: 350px;
  height: auto;
}

.imageBronze {
  display: flex;
  max-width: 200px; /* Adjust the size as needed */
  height: auto;
}

.color-box {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platinum {
  background-color: paleturquoise;
  border-color: paleturquoise;
}

.gold {
  background-color: gold;
  border-color: gold;
}

.silver {
    background-color: silver;
    border-color: silver;
}

.bronze {
  background-color: #CD7F32;
  border-color: #CD7F32;
}
