nav {
  display: flex;
  justify-content: center; /* Centers the navbar horizontally */
  justify-items: center;
  animation: gradientAnimation 5s ease infinite;
  background: linear-gradient(90deg, #F4D35E, #8FB339);
  background-size: 200% 200%;
  height: 100px;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.logo {
  height: 20px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: green;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}