.title {
    display: flex;
    float: right;
    padding-right: 150px;
    position: static;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 75vh;
    font-size: 50px;
    z-index: 2;
  }

.PPfloating-image-container {
    position: absolute; /* or fixed */
    top: 185px;
    left: 40px;
    margin: 100px auto; /* Adjust to bring it up */
    width: 500px;
    height: 80vh;
    overflow: hidden;
}

.PPimg {
    width: 100%;
    height: auto;
    max-height: 100%;
    animation: float 3s ease-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(0deg);
    }
}

#shadow {
    position: absolute;
    height: 20px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkgray;
    border-radius: 50%;
    filter: blur(5px);
    animation: shrink 3s ease-out infinite;
}

.past {
    color: #F4D35E;
}
.projects {
    color: #60b339;
}

.btns {
    display: flex;
    float: center;
    position: static;
    padding-left: 200px;
    justify-content: center;
    flex-direction: column;
    padding-top: 125px;
  }
.btns button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 35%; 
    height: auto; 
    padding: 10px; 
    margin: 10px auto; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
}

.PastProjectLogo2024, .PastProjectLogo2023, .PastProjectLogo2022, .PastProjectLogo2021, .PastProjectLogo2020, .PastProjectLogo2019 {
    width: 60px;
    height: 60px;
}

/* General button styles */
.proj2024, .proj2023, .proj2022, .proj2021, .proj2020, .proj2019 {
    margin: 10px 100px;
    padding: 30px 60px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    background-color: transparent;
}

/* Background and border effects for all buttons */
.proj2024::after, .proj2023::after, .proj2022::after, .proj2021::after, .proj2020::after, .proj2019::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    border-radius: 12px;
}

/* Glowing effect for all buttons */
.proj2024::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #F4D35E, #60b339, #9ec1fa
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

.proj2023::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #ebff15, #65ff1e,  #4bc9ff
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

.proj2022::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #c86c2b, #60b339, #f1bb17
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

.proj2021::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #F4D35E, #60b339, #4972e2 ,#f67e4b
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

.proj2020::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #c1ce32, #54e3a5
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

.proj2019::before {
    content: "";
    background: linear-gradient(
        45deg, 
        #fff71e, #1be1ba
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}

/* Hover effect for all buttons */
.proj2024:hover::before, .proj2023:hover::before, .proj2022:hover::before, .proj2021:hover::before, .proj2020:hover::before, .proj2019:hover::before {
    opacity: 1;
}

/* Set the after pseudo-element's background to transparent on hover */
.proj2024:hover::after, .proj2023:hover::after, .proj2022:hover::after, .proj2021:hover::after, .proj2020:hover::after, .proj2019:hover::after {
    background: transparent; 
}

.proj2024:hover, .proj2023:hover, .proj2022:hover, .proj2021:hover, .proj2020:hover, .proj2019:hover {
    transform: scale(1.1);
}

/* Active state for all buttons */
.proj2024:active, .proj2023:active, .proj2022:active, .proj2021:active, .proj2020:active, .proj2019:active {
    color: #000;
    font-weight: bold;
}

/* Active background change */
.proj2024:active::after, .proj2023:active::after, .proj2022:active::after, .proj2021:active::after, .proj2020:active::after, .proj2019:active::after {
    background: transparent;
}

/* Glowing animation */
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.shift-left {
    justify-content: flex-start; 
    padding-left: 0; 
    margin-left: 150;
    transition: all 0.5s ease-in-out;
    width:60%;
}

/* Optional: Hide title smoothly */
.title {
    transition: opacity 0.5s ease-in-out;
}

/* Hide the title when the state changes */
.title.hidden {
    opacity: 0;
    visibility: hidden;
}

.PPgallery-container {
    opacity: 1;
    position: absolute;
    top: 275px;
    right: 350px;
    margin: 20px auto;
    width: 100%; /* Adjust the width of the gallery */
    max-width: 750px;
    text-align: center;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: transparent;
}

.opacity {
    opacity: 1;
}