body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.floating-image-container {
    position: absolute; /* or fixed */
    top: 100px;
    left: 40px;
    margin: 100px auto; /* Adjust to bring it up */
    width: 500px;
    height: 80vh;
    overflow: hidden;
}

.information-container {
    position: relative;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.information-container h1 {
    font-size: 4em; /* Increase size for H1 */
    font-weight: bold;
    margin-bottom: 10px;
}

.information-container h2 {
    font-size: 4rem; /* Increase size for H2 */
    font-weight: normal;
    margin-bottom: 30px;
}

.home-buttons {
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    height: auto;
    width: auto;
    min-width: 250px;
    border: none;
    outline: none;
    color: #FFF; 
    background-color: #333; 
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.home-buttons::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /* Change the background color of the hover/active effect to white */
    left: 0;
    top: 0;
    border-radius: 10px;
}

.home-buttons::before {
    content: "";
    background: linear-gradient(
        45deg,
        #fff, #fff, #fff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.home-buttons:hover::before {
    opacity: 1;
    animation: glowing 10s linear infinite;
}

.home-buttons:active {
    color: #FFF;
    background-color: #000;
    font-weight: bold;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.floating-image-container__img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    animation: float 3s ease-out infinite;
    transform: rotate(15deg);
    filter: drop-shadow(darkgray 20px 20px);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(15deg);
    }
    50% {
        transform: translateY(-20px) rotate(15deg);
    }
}

.blob {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: #FAF3DD;
    z-index: -1;
    overflow: hidden;
}

.blob2 {
    position: fixed; /* Keep it relative to the container */
    top: 20%; /* Adjust top to move it higher */
    left: 90%; /* Center horizontally */
    width: 100vw; /* Increase the width for better visibility */
    height: 100vw; /* Keep the aspect ratio */
    background: #FAF3DD;
    z-index: -1; /* Send it behind content */
    transform: translateX(-50%); /* Ensure it is perfectly centered */
}
