body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden;
}

.floating-image-container {
    position: absolute; /* or fixed */
    top: 100px;
    left: 0px;
    width: 500px;
    height: auto;
    float: left;
    z-index: 10;
    pointer-events: none;
}

.information-container {
    position: relative;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.information-container h1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 4em; /* Increase size for H1 */
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 3px 15px rgba(0,0,0,.15);
}

.information-container h2 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 4rem; /* Increase size for H2 */
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 2px 3px 15px rgba(0,0,0,.15);
}

.home-buttons {
    margin: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    height: auto;
    width: auto;
    min-width: 250px;
    border: none;
    outline: none;
    color: #FFF; 
    background-color: #333; 
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.home-buttons::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333; /* Change the background color of the hover/active effect to white */
    left: 0;
    top: 0;
    border-radius: 10px;
}

.home-buttons::before {
    content: "";
    background: linear-gradient(
        45deg,
        #fff, #fff, #fff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.home-buttons:hover::before {
    opacity: 1;
    animation: glowing 10s linear infinite;
}

.home-buttons:active {
    color: #FFF;
    background-color: #000;
    font-weight: bold;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.floating-image-container__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: float 3s ease-out infinite;
    transform: rotate(15deg);
    filter: drop-shadow(darkgray 20px 20px);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(15deg);
    }
    50% {
        transform: translateY(-20px) rotate(15deg);
    }
}
  
.bigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
    margin: 10px;
    color: white;
    font-size: 2em;
    border-radius: 12px;
}
  
.littlebox {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.labelText {
    margin-bottom: 10px;
}
