socialbar { 
  display: flex;
  background: linear-gradient(90deg, #036135, #036135);
  background-size: 200% 200%;
  height: 150px;

}

.image-resize {
  margin: auto;
  width: 80px;
  height: 80px;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.image-resize-gmail {
  margin: auto;
  width: 80px;
  height: 60px;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.font-resize {
  font-size: 20px;
  color: white;
  margin: auto;
}

.invis-button {
  background-color: #036135;
  border: none;
}